<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3> {{ site.aboutHackathonTitle }} </h3>
            <!-- {% for row in site.hackathonRows %}
            {% assign check = forloop.index0 | modulo:2 %}
            <div class="hackathon-row {% if check == 0 %}float-left{% else %}float-right{% endif %} col-md-12">
                <div class="hackathon-img-wrapper animated hiding" data-animation="{% if check == 0 %}fadeInLeft{% else %}fadeInRight{% endif %}" data-delay="0">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/hackathon/{{ row.image }}" alt="Hackathon">
                </div>
                <div class="hackathon-details animated hiding" data-animation="{% if check == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}" data-delay="0">
                    <h4>{{ row.title }}</h4>
                    <p>{{ row.details }}</p>
                </div>
            </div>
            {% endfor %} -->
            <section style="min-height: 0px; padding-top: 50px;">
                <h4> Goal </h4>
                <p align="justify"> Schizophrenia and bipolar disorder are among the top 20 leading causes of
                    disability,
                    demanding timely, accurate diagnosis to select the optimal treatment and reduce the overall burden
                    of the
                    disease. However, the misdiagnosis rate of current diagnostic procedures is high, which is rooted in
                    the
                    descriptive, symptom-based nature of current diagnostics, which do not use objective biomarkers.
                    It is increasingly recognized that biomarkers that reflect underlying neurobiological mechanisms can
                    improve
                    early, accurate diagnosis. This can facilitate the optimal treatment to reduce suicide risk,
                    significant
                    side effects of medication, and the overall burden of the disease. Such biomarkers can be achieved
                    by
                    leveraging resting-state functional magnetic resonance imaging (rsfMRI), which provides noninvasive
                    and
                    indirect measurements of neuronal activities. This competition aims to evaluate the ability rsfMRI
                    to
                    develop valid neuroimaging diagnostic tools to differentiate schizophrenia (SZ) and bipolar
                    psychosis (BPP)
                    using a large dataset of individuals with fully developed symptoms that allowed near to perfect
                    classification using DSM criteria.
                </p>
            </section>

            <section style="min-height: 0px; padding-top: 50px;">
                <h4>
                    Eligibility
                </h4>
                <p align="justify">
                    Team: Each team must be composed of: (i) One faculty member (the Supervisor); (ii) At most one
                    graduate student (the Tutor), and; (iii) At least 3 but no more than 10 undergraduates. At least
                    three of the undergraduate team members must be SPS student members.
                </p>
            </section>


            <section style="min-height: 0px; padding-top: 50px;">
                <h4>
                    Dataset
                </h4>

                <p align="justify">
                    The dataset for this competition consists of rsfMRI from individuals with schizophrenia and bipolar
                    psychosis. Each individual, one hundred five intrinsic connectivity network (ICN) obtained using
                    a multi-spatial-scale template from 100k+ subjects and a constraint ICA approach. ICN timecourses
                    and
                    their
                    functional network connectivity (FNC) will be distributed to the participants. Additional
                    Information about
                    data can be found on Kaggle page (<a
                        href="https://www.kaggle.com/competitions/psychosis-classification-with-rsfmri/overview/additional-information-about-data">
                        Kaggle Link</a>)
                </p>
            </section>

            <section style="min-height: 0px; padding-top: 50px;">
                <h4>
                    Assessment criteria
                </h4>

                <p align="justify">
                    The problem proposed is a classification task of SZ versus BPP. The dataset is split into training
                    and test sets. The entire dataset with the label of the public train set will be available to the
                    teams. Each team is allowed up to 5 public submissions per day, and 1 private submissions. For each
                    submission, the team has to submit soft classification scores for the test set and will receive
                    feedback about AUC on the public test set only. Teams can select up to 2 submissions that will count
                    toward their final leaderboard score. 
                </p>
            </section>

            <section style="min-height: 0px; padding-top: 50px;">
                <h4>Important Dates</h4>
                <p>
                    Register your team on the SPS page ( <a
                        href="https://signalprocessingsociety.org/community-involvement/signal-processing-cup"> SPS
                        RegistrationLink </a>) and create a Kaggle account using your team name on and compete (<a
                        href="https://www.kaggle.com/competitions/psychosis-classification-with-rsfmri/overview/additional-information-about-data"> Kaggle Link
                    </a> )
                </p>
                <p> Submission deadline: March 17, 2023</p>
                <p>Finalists Announcement: March 31, 2023</p>
                <p>Final @ICASSP: June 4-10, 2023</p>

            </section>

        </div>
    </div>
</section>
<!-- End About Hackathon Section -->